<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
	<!--add key="DefaultPushSource" value="http://path/to/push/feed" /-->
  </config>  
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <!--add key="Internal Feed" value="http://path/to/internal/feed" /-->
  </packageSources>  
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>  
  <apikeys>
    <!--add key="http://path/to/push/feed" value="encrypted_api_key" /-->
  </apikeys>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>